@model Healthhub_Online.Models.QuanTri

@{
    ViewBag.Title = "Ban";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Ban</h2>

<h3>Are you sure you want to Ban this?</h3>
<div>
    <h4>QuanTri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Khoa.TenKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoa.TenKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaiTro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaiTro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongTinBacSi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTinBacSi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrinhDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrinhDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhBia)
        </dd>

    </dl>

    @using (Html.BeginForm("Ban", "QuanTris", new { id = Model.IDQuanTri }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ban" class="btn btn-danger" /> | <!-- Thay đổi giá trị của nút -->
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
