<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fullcalendarcss")
    <link href="~/Common/css/StyleMenu.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="~/Common/Icon/css/all.css" rel="stylesheet" />
</head>
<body style="color:black">
    @using Healthhub_Online.Models
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#4267B2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> <img src="~/Common/images/YTE.jpg" width="100" height="50" alt=""></li>
                    <li>@Html.ActionLink(" TRANG CHỦ ", "Index", "Home", null, new { @class = "MauchuMenu" })</li>
                    @*<li>@Html.ActionLink(" TIN TỨC COVID ", "listAll", "Hoidap", null, new { @class = "MauchuMenu" })</li>*@
                    <li>@Html.ActionLink(" HỎI ĐÁP ONILNE", null, new { @class = "MauchuMenu" })</li>
                    <li>@Html.ActionLink(" TRUNG TÂM Y TẾ", "Index", null, new { @class = "MauchuMenu" })</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li> @Html.ActionLink("ĐĂNG KÝ", null, new { @class = "MauchuMenu" }) </li>
                    <li> @Html.ActionLink("ĐĂNG NHẬP", null, new { @class = "MauchuMenu" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <hr />
    <footer class="bg-info">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <CENTER>
                    <div style="align-content:center">
                        <h3>TRANG TIN VỀ DỊCH BỆNH COVID-19</h3>
                        <br />

                        Thiết kế bởi : Group3_SWP391_SE1758
                        <br />
                        FPT University
                        <br />
                        Email: phamduycuong2k1@gmail.com


                    </div>
                </CENTER>
            </div>
        </div>
        <hr />
        <center> <p class="bg-primary">&copy; @DateTime.Now.Year - Group3_SWP391_SE1758</p></center>
    </footer>

               



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fullcalendarjs")
    @RenderSection("scripts", required: false)
</body>
</html>
