@model Healthhub_Online.Models.Solieudichbenh

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Solieucovid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quocgia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quocgia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dichbenh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dichbenh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Canhiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Canhiem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuvong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuvong)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDThongke }) |
    @Html.ActionLink("Back to List", "Index")
</p>
