@model IEnumerable<Healthhub_Online.Models.Solieudichbenh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý số liệu </h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quocgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dichbenh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Canhiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tuvong)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quocgia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dichbenh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canhiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuvong)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDThongke }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDThongke }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDThongke })
            </td>
        </tr>
    }

</table>
